- hosts: servers
  become: true

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Install docker-compose
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.27.0/docker-compose-linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Create app directory
      file:
        path: /opt/app
        state: directory

    - name: Copy docker-compose file
      copy:
        src: docker-compose.prod.yml
        dest: /opt/app/docker-compose.yml

    - name: Pull latest images
      command: docker-compose pull
      args:
        chdir: /opt/app

    - name: Start app
      command: docker-compose up -d
      args:
        chdir: /opt/app
